@font-face
{
    font-family: NunitoSans;
    src: url('./fonts/NunitoSans.ttf');
}

@font-face
{
    font-family: SourceCodePro;
    src: url('./fonts/SourceCodePro.ttf');
}

:root
{
    --background-color: rgb(25, 25, 25);
    --secondary-background-color: rgb(52, 52, 52);
    --text-color: rgb(250, 250, 250);
    --link-color: rgb(76, 141, 210);
    --link-hover-color: rgb(48, 108, 198);
    --row-border-color: rgba(255, 255, 255, .2);
    --text-transparent-color: rgba(250, 250, 250, .3);
}

body
{
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 0px;
    margin: 0px;
}

body,
button,
input,
textarea
{
    font-family: NunitoSans, Arial, Helvetica, sans-serif;
}

code
{
    font-family: SourceCodePro, 'Courier New', Courier, monospace;
}

a
{
    color: var(--link-color);
    text-decoration: none;
    transition: color .5s;
}

a:hover
{
    color: var(--link-hover-color);
    text-decoration: underline;
    cursor: pointer;
}

#pageDetails
{
    padding: 20px;
    max-width: 1000px;
}

#fileExplorer
{
    margin-left: 20px;
    margin-top: 10px;
}

.fileExplorerTopRow p,
.fileExplorerRow p
{
    display: inline;
    margin: 0px;
    padding: 0px;
}

.fileExplorerTopRow,
.fileExplorerRow
{
    padding: 5px;
    border-style: solid;
    border-color: var(--row-border-color);
    border-bottom-style: none;
    border-width: 2px;
    max-width: 1000px;
    font-size: 20px;
}

.fileExplorerTopRow
{
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    font-size: 24px;
    font-weight: bold;
}

.fileExplorerFinalRow
{
    border-bottom-style: solid;
}

.fileIcon
{
    display: inline;
    width: 27px;
    height: 27px;
    float: left;
    margin-right: 8px;
}

.fileName
{
    transition: color .5s;
}

.fileName:hover
{
    color: var(--link-hover-color);
    text-decoration: underline;
    cursor: pointer;
}

.transparent-text
{
    color: var(--text-transparent-color);
}